
.gridbox1{
    width: 80%;
    height: 100%;
margin:  0 auto;
padding: 50px 0px;

}
.gridbox1 .swiper {
  width: 100%;
  height: 100%;
}

.gridbox1 .swiper-slide {
    display: flex;
  text-align: center;
  font-size: 18px;
  background: #444;
  height: calc((100% - 30px) / 2) !important;
border-radius: 10px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridbox1 .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
border-radius: 10px;

}
@media screen and (max-width:768px){
  
.gridbox1{
    width: 80%;
    height: 100%;
margin:  0 auto;
padding: 50px 0px;

}
.gridbox1 .swiper {
  width: 100%;
  height: 100%;
}

.gridbox1 .swiper-slide {
    display: flex;
  text-align: center;
  font-size: 18px;
  background: #444;
  height: calc((100% - 30px) / 2) !important;
border-radius: 10px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridbox1 .swiper-slide{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: flex-start;
  background-color: transparent;
}
.gridbox1 .swiper-slide img{
    width: 100%;
    height: 150px;
    object-fit: cover;
border-radius: 10px;

}

}